.button-loading {
    display: block;
    background: #2196F3;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 15px 20px;
    transition: all .4s;
}

.button-loading:hover {
    cursor: pointer;
    background: #fff;
    color: #2196F3;
    transition: all .4s;
}